.product-card img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.dishwasher {
  width: 250px;
  height: 300px;
  padding-top: 20px;
}

.product-card p {
  text-align: center;
  font-family: 'Arial';
}

.dishwasher-name {
  margin-top: 25px;
}

.discount {
  font-size: 1.5em;
  color: red;
}

.normal-price{
  text-decoration: line-through;
}

article {
  background-color: pink;
}

.cheburek {
  width: 250px;
  height: 300px;
  padding-top: 20px;
  
}

.cheburek-name {
  margin-top: 25px;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dishwasher-img {
  height: 180px;
  
}

.cheburek-img {
  height: 200px;
}

.book {
  width: 250px;
  height: 300px;
  padding-top: 20px;
}

.book-name {
  margin-top: 25px;
}

.book-img {
  height: 200px;
}

header {
  height : 150px;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.logo {
  height : 150px;
}

nav{
  display: flex;
  justify-content: space-around;
  width : 40%;
/*   margin-left: 250px; */
  position: absolute;
  right: 30px;
  flex-wrap: wrap;
}

.nav-link{
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border: 5px solid;
  padding: 20px;
  
}

.nav-link:hover {
  color: white;
  
}

h1 {
  margin-left: 30px;
  font-family: 'impact';
  
}

footer {
  background-color: violet;
  width: 100%;
  height: 200px;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-links {
  display: block;
}

.social-container {
  display : flex;
}

.social-contacts {
  font-size: 30px;
}

.news {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.news-card {
  margin-top: 30px;
}
